@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }

 img{
    width: 100vw;
 }

 ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    /*Para esconder a barra de rolagem*/
 }

 a{
    display: block; 
    /*isso faz o nome Acesse ir para debaixo da    imagem*/
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
 }
 
 a:hover{
    background-color: red;
 }